In [2]:
#!pip install -U blsconnect

Collecting blsconnect
  Downloading blsconnect-0.9.1-py3-none-any.whl (15 kB)
Installing collected packages: blsconnect
Successfully installed blsconnect-0.9.1

In [6]:
# From https://pypi.org/project/blsconnect/
import pandas as pd
from blsconnect import RequestBLS, bls_search

MY_API_KEY = "your-token"
bls = RequestBLS(key=MY_API_KEY)

End year should be less than or equal to end year. User input:(start_year=2020, end_year=1948). These values were flipped to continue the request.

   year period periodName  LNS14000000
0  1948    M01    January          3.4
1  1948    M02   February          3.8
2  1948    M03      March          4.0
3  1948    M04      April          3.9
4  1948    M05        May          3.5

In [22]:
# Get seasonally-adjusted unemployment rates for U.S.
series_names = bls_search(data="U3",
                          state=["US"],
                          sa=True)

df_unemployment_rate = bls.series(series_names,
                start_year=1948,
                end_year=2020)

In [8]:
# Get seasonally-adjusted employment for U.S.
# employment numbers in thousands 
series_names_employment = bls_search(data="e",
                          state=["US"],
                          sa=True)

df_employment = bls.series(series_names_employment,
                start_year=1948,
                end_year=2020)

End year should be less than or equal to end year. User input:(start_year=2020, end_year=1948). These values were flipped to continue the request.

In [13]:
# Get seasonally-adjusted unemployment for U.S.
# unemployment numbers in thousands 
series_names_unemployment = bls_search(data="u",
                          state=["US"],
                          sa=True)

df_unemployment = bls.series(series_names_unemployment,
                start_year=1948,
                end_year=2020)

In [15]:
# Get seasonally-adjusted labor force for U.S.
# Civilian labor force numbers in thousands 
series_names_labor_force = bls_search(data="lf",
                          state=["US"],
                          sa=True)

df_labor_force = bls.series(series_names_labor_force,
                start_year=1948,
                end_year=2020)

In [19]:
# Get seasonally-adjusted labor force participation rate for U.S.
# Civilian labor force participation rate numbers in thousands 
series_names_labor_force_participation_rate = bls_search(data="lfpr",
                          state=["US"],
                          sa=True)

df_labor_force_participation_rate = bls.series(series_names_labor_force_participation_rate,
                start_year=1948,
                end_year=2020)
.rename(columns={"A": "a", "B": "c"})

In [39]:
df = pd.DataFrame()

In [40]:
df = df.append(df_unemployment_rate)

In [51]:
df = pd.concat([df, df_employment[['LNS12000000']], df_unemployment[['LNS13000000']], df_labor_force[['LNS11000000']], df_labor_force_participation_rate[['LNS11300000']]], axis=1, sort=False)

In [56]:
df.rename(columns={"LNS14000000": "unemployment_rate", "LNS12000000": "employed", 'LNS13000000': 'Unemployed','LNS11000000':'civilian_labor_force', 'LNS11300000':'civilian_labor_force_participation_rate'}, inplace = True)

In [57]:
df

,year,period,periodName,unemployment_rate,employed,Unemployed,civilian_labor_force,civilian_labor_force_participation_rate
0,1948,M01,January,3.4,58061,2034,60095,58.6
1,1948,M02,February,3.8,58196,2328,60524,58.9
2,1948,M03,March,4.0,57671,2399,60070,58.5
3,1948,M04,April,3.9,58291,2386,60677,59.0
4,1948,M05,May,3.5,57854,2118,59972,58.3
...,...,...,...,...,...,...,...,...
866,2020,M03,March,4.4,155772,7140,162913,62.7
867,2020,M04,April,14.7,133403,23078,156481,60.2
868,2020,M05,May,13.3,137242,20985,158227,60.8
869,2020,M06,June,11.1,142182,17750,159932,61.5
870,2020,M07,July,10.2,143532,16338,159870,61.4

In [58]:
df.to_csv('../data/BLS.csv', index = False)